.parallax {
    /* The image used */
    background-image: url("./breakfast.jpg");
    /* Set a specific height */
    height: 1500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

header {
    border: 1px solid red;
}
.main {
    margin-top: 200px;
}