.parallax {
    background-attachment: fixed;
    height: 400px;
}

#parallax1 {
    background-image: url("./breakfast.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 1500px;
}

.parallax-content {
    width: 100%;
    padding: 80px 20px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    height: 400px;
}

.parallax-content h1 {
    font-size: 72px;
    color: #8FC67C;
    text-shadow: 0 1px 0 #424242, 0 0 5px #424242;
    font-family: Roboto-Bold, sans-serif;
}

